@import url('https://fonts.googleapis.com/css?family=Staatliches');

body {
    scroll-behavior: smooth;
}
.text-center {
    margin-top: 50px;

}

.loader {
    font-family: 'Staatliches', cursive;
    position: fixed;
    left: 0;
    top: 0;
    background: black;
    width: 100%;
    height: 100vh;
    animation: backgroundChange .5s linear 3s forwards;
    z-index: 1;
    animation: fadeOut .5s linear 3s forwards;
  }
  
  .load-text {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 10vmax;
    width: fit-content;
    display: flex;
    animation: colorChange .5s linear 3s forwards;
  }
  
  .loaded-text {
    color: white;
    transform: scale(1.5);
    animation: scaleText .5s linear .5s forwards;
  }
  
  .loading-text {
    color: white;
    width: 0;
    overflow: hidden;
    animation: expand .5s linear 1.5s forwards;
  }

  
  main {
    padding: 1em;
    box-sizing: border-box;
    background-color: white;
    color: black;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
  }
  
  @keyframes scaleText {
    from {transform: scale(1.5)}
    to {transform: scale(1)}
  }
  
  @keyframes expand {
    from {width: 0;}
    to {width: 17vmax;}
  }
  
  @keyframes backgroundChange {
    from {background-color: black}
    to {background-color: white}
  }
  
  @keyframes colorChange {
    from {color: white}
    to {color: black}
  }
  
  @keyframes fadeOut {
    from {opacity: 1}
    to {
      opacity: 0; 
      z-index: -1;
    }
  }
  

.bg-image {
  background-image: url("img/NFT2.png");
  min-height: 2300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text {
    font-size: 40px;
}

.text1 {
    font-size: 20px;
}

.text1 span {
    transition: .5s;
    border-bottom: 2px solid orange;
}

.text1 span:hover {
    transition: .5s;
    border-bottom: 2px solid grey;
    cursor: pointer;
}

.color span:hover {
    color: orange;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: orange;
    transition: 1s;
}

.artwork1{
    text-align: right;
}

.underline{
 border-bottom: 2px solid orange;   
 transition: smooth;
}

.icons {
    color: grey;
}

.icons:hover {
    color: orange;
}